testapp/**/*.dll
testapp/**/*.pdb
testapp/**/*.bundle
testapp/**/*.meta

testapp/Assets/Plugins
testapp/Assets/StreamingAssets
testapp/Assets/Editor Default Resources
testapp/Assets/ExternalDependencyManager
testapp/Assets/Firebase/Editor/*.xml
testapp/Assets/Firebase/Editor/*.txt
testapp/Assets/Firebase/Editor/*.exe
testapp/Assets/Firebase/Editor/*.py
testapp/Assets/Firebase/Sample/AutomatedTestRunner.cs
testapp/Assets/Firebase/Sample/ftl_testapp_files
testapp/Assets/Firebase/m2repository

testapp/Library
testapp/Logs
testapp/Packages
testapp/Temp
testapp/UserSettings
testapp/android_BackUpThisFolder_ButDontShipItWithYourGame
testapp/ios
testapp/macos.app/Contents
testapp/obj/Debug
testapp/Assembly-CSharp-Editor.csproj
testapp/Assembly-CSharp-firstpass.csproj
testapp/Assembly-CSharp.csproj
testapp/Tests.csproj
testapp/android.apk
testapp/android_mapping.txt
testapp/testapp.sln

testapp/ProjectSettings/AndroidResolverDependencies.xml
testapp/ProjectSettings/GvhProjectSettings.xml
testapp/ProjectSettings/MemorySettings.asset
testapp/ProjectSettings/PackageManagerSettings.asset
testapp/ProjectSettings/PresetManager.asset
testapp/ProjectSettings/TimelineSettings.asset
testapp/ProjectSettings/VFXManager.asset
testapp/ProjectSettings/VersionControlSettings.asset
testapp/ProjectSettings/XRSettings.asset
testapp/ProjectSettings/boot.config
