# Workflow to handle building the Unity SDK on iOS
name: iOS Build

on:
  workflow_dispatch:
    inputs:
      # Which version of Unity to use
      unity_version:
        description: 'Unity version'
        default: '2019'
        required: true
      firebase_cpp_sdk_version:
        description: 'Firebase CPP SDK version to build against (The branch, tag or SHA to checkout)'
        default: ''
        required: false
      unity_branch:
        description: 'Unity branch to build against, empty means current branch'
        default: ''

jobs:
  build_ios:
    name: build-ios-macos-${{ github.event.inputs.unity_version }}-CPP${{ github.event.inputs.firebase_cpp_sdk_version }}
    runs-on: macos-12
    strategy:
      fail-fast: false

    env:
      # LC_ALL, LANG and U3D_PASSWORD are needed for U3D.
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      U3D_PASSWORD: ""
      xcodeVersion: "13.3.1"
  
    steps:
      - name: Checkout Unity Repo
        uses: actions/checkout@v2
        with:
          submodules: true
          ref: ${{ github.event.inputs.unity_branch }}
          
      - name: Checkout CPP Repo
        uses: actions/checkout@v2
        with:
          repository: firebase/firebase-cpp-sdk
          path: firebase-cpp-sdk
          ref: ${{ github.event.inputs.firebase_cpp_sdk_version }}
          submodules: true

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: setup Xcode version
        run: sudo xcode-select -s /Applications/Xcode_${{ env.xcodeVersion }}.app/Contents/Developer

      - name: Install prerequisites
        shell: bash
        run: |
          echo "FIREBASE_CPP_SDK_DIR=${{ github.workspace }}/firebase-cpp-sdk" >> $GITHUB_ENV
          cd firebase-cpp-sdk
          python scripts/gha/install_prereqs_desktop.py
          cd ..

      - name: Install Unity installer (U3D)
        shell: bash
        run: gem install u3d

      - name: Install python deps
        shell: bash
        run: |
          pip install -r scripts/gha/requirements.txt
      
      - name: Install Unity
        shell: bash
        run: |
          python scripts/gha/unity_installer.py --install --platforms "iOS" --version ${{ github.event.inputs.unity_version }}
      
      - name: Setup Unity path
        shell: bash
        run: |
          echo "UNITY_ROOT_DIR=$( python scripts/gha/print_matrix_configuration.py -u ${{ github.event.inputs.unity_version }} -k unity_path )" >> $GITHUB_ENV
      
      - name: Display Swig Version
        shell: bash
        run: |
          swig -version

      - name: Build SDK (iOS)
        shell: bash
        run: |
          ./build_ios.sh

      - name: Upload Build
        uses: actions/upload-artifact@v2
        with:
          name: ios_unity
          path: ios_unity/*.zip
