# Workflow to handle packaging the Unity SDK
name: Package SDKs

on:
  workflow_call:
    inputs:
      runIntegrationTests:
        description: 'run integration tests?'
        default: '0'
        required: true
        type: string
      create_new_branch:
        description: 'Check if we need to create new branch to package guids update. If working_branch set, will ignore this value. '
        default: '0'
        required: false
        type: string
      working_branch:
        description: 'If already a working in progress release branch'
        required: false
        type: string
      release_label:
        description: 'If the package is intended to run for a release, put <version>-RC## for label'
        required: false
        type: string
      build_run_id:
        description: 'run id for build_starter.yml, search for all output'
        required: false
        type: string
      platforms:
        description: 'CSV of Android,iOS,Windows,macOS,Linux,Playmode'
        default: 'Android,iOS,Windows,macOS,Linux,Playmode'
        required: true
        type: string
      apis:
        description: 'CSV of apis to build and test'
        default: 'analytics,auth,crashlytics,database,dynamic_links,firestore,functions,installations,messaging,remote_config,storage'
        required: true
        type: string


env:
  # Use SHA256 for hashing files.
  hashCommand: "sha256sum"

jobs:
  package_sdks:
    name: package-${{github.event.inputs.release_label}}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Print inputs
        shell: bash
        run: |
          echo runIntegrationTests: ${{ inputs.runIntegrationTests }}
          echo create_new_branch: ${{ inputs.create_new_branch }}
          echo release_label: ${{ inputs.release_label }}
          echo working_branch: ${{ inputs.working_branch }}
          echo download_android_run: ${{ inputs.download_android_run }}
          echo download_ios_run: ${{ inputs.download_ios_run }}
          echo download_linux_run: ${{ inputs.download_linux_run }}
          echo download_macos_run: ${{ inputs.download_macos_run }}
          echo download_windows_run: ${{ inputs.download_windows_run }}
          echo platforms: ${{ inputs.platforms }}"
          echo apis: ${{ inputs.apis }}"

      - name: Check out base branch
        uses: actions/checkout@v2.3.1
        with:
          fetch-depth: 0
          ref: ${{ inputs.working_branch }}

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install python deps
        shell: bash
        run: |
          pip install -r scripts/gha/requirements.txt

      - name: Generate token for GitHub API
        # This step is necessary because the existing GITHUB_TOKEN cannot be used inside one workflow to trigger another.
        # 
        # Instead, generate a new token here, using our GitHub App's private key and App ID (saved as Secrets).
        # 
        # This method is preferred over the "personal access token" solution, as the GitHub App's scope is limited to just
        # the firebase-cpp-sdk repository.
        uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.WORKFLOW_TRIGGER_APP_ID }}
          private_key: ${{ secrets.WORKFLOW_TRIGGER_APP_PRIVATE_KEY }}

      - name: Name new branch
        if: inputs.working_branch == '' && inputs.create_new_branch == '1'
        run: |
          date_str=$(date "+%Y%m%d-%H%M%S")
          echo "NEW_BRANCH=new_branch-${date_str}" >> $GITHUB_ENV

      - name: Create new branch
        if: inputs.working_branch == '' && inputs.create_new_branch == '1'
        run: |
          git remote update
          git checkout -b "${NEW_BRANCH}"
          echo "UPDATE_LOGFILE=update_log.txt" >> $GITHUB_ENV

      - name: Checkout working branch
        if: inputs.working_branch != ''
        run: |
          git remote update
          git checkout ${{ inputs.working_branch }}
          echo "UPDATE_LOGFILE=update_log.txt" >> $GITHUB_ENV
          echo "NEW_BRANCH=${{ inputs.working_branch }}" >> $GITHUB_ENV

      # If called by build_start.xml, ignore name search, just grab all artifact exists
      - name: Fetch All in build_starter
        uses: actions/download-artifact@v3
        with:
          path: built_artifact
      
      - name: move zip files
        run: |
          cd built_artifact
          find . -type f -name "*.zip" -exec mv {} . \;
          find . -empty -type d -delete
          ls -lR
          for zip_file in *.zip
          do
            unzip -l $zip_file
          done
          ls -lR
          cd ..

      - name: Package unitypackage
        run: |
          python scripts/build_scripts/build_package.py --zip_dir=built_artifact

      - name: Commit Changes if there is any
        if: inputs.working_branch != '' || inputs.create_new_branch == '1'
        run: |
          if ! git update-index --refresh; then
            git config user.email "firebase-workflow-trigger-bot@google.com"
            git config user.name "firebase-workflow-trigger-bot"
            git config core.commentChar "%"  # so we can use # in git commit messages
            git commit -a -m "Update Guids ID"

            # Show changes in git log
            git diff
            # Push branch
            git push --set-upstream origin "${NEW_BRANCH}"
          fi

      - name: Create PR if there is None
        if: inputs.working_branch != '' || inputs.create_new_branch == '1'
        id: push-branch
        run: |
          if ! git update-index --refresh; then
            date_str=$(date "+%a %b %d %Y")
            commit_title="Update Unity SDK dependencies - ${date_str}"
            commit_body=
            if [[ -n '${{ github.event.inputs.comment }}' ]]; then
              # If a comment was provided, start with that instead of blank.
              commit_body='${{ github.event.inputs.comment }}

            '
            fi

            commit_body="${commit_body}

          > Created by [${{github.workflow}} workflow]($GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID)."
            git config user.email "firebase-workflow-trigger-bot@google.com"
            git config user.name "firebase-workflow-trigger-bot"
            git config core.commentChar "%"  # so we can use # in git commit messages
            git commit -a -m "${commit_title}

          ${commit_body}"
            echo "::set-output name=branch_pushed::1"
            # Show changes in git log
            git diff
            # Push branch
            git push --set-upstream origin "${NEW_BRANCH}"
            # Create pull request
            pr_number=$(python scripts/gha/create_pull_request.py --token ${{ steps.generate-token.outputs.token }} --head "${NEW_BRANCH}" --base "${{ github.event.inputs.baseBranch }}" --title "${commit_title}" --body "${commit_body}")
            echo "::set-output name=created_pr_number::${pr_number}"
          else
            echo "::warning ::No changes detected, won't create pull request."
            echo "::set-output name=branch_pushed::0"
          fi

      - name: Create Zip File
        run: |
          mv output firebase_unity_sdk
          cp docs/readme.md firebase_unity_sdk/.
          cp LICENSE firebase_unity_sdk/.
          ls -Rl firebase_unity_sdk
          zip -r firebase_unity_sdk.zip firebase_unity_sdk

      - name: compute SDK hash
        shell: bash
        run: |
          ${{ env.hashCommand }} --tag firebase_unity_sdk.zip >> firebase_unity_sdk_hash.txt
          echo "::warning ::$(cat firebase_unity_sdk_hash.txt)"

      - name: Upload Build unitypackage
        uses: actions/upload-artifact@v2
        with:
          name: firebase_unity_sdk.zip
          path: firebase_unity_sdk.zip
      
      - name: Package tgz
        run: |
          python scripts/build_scripts/build_package.py --zip_dir=built_artifact --output_upm=True --output=output_tgz

      - name: Listing output tgz
        run: |
          ls -Rl
        working-directory: output_tgz

      - name: compute SDK hash for tgz files
        shell: bash
        run: |
          tgz_files_list=$(find -type f -name '*.tgz')
          for tgz_file in "${tgz_files_list[@]}"; do
            ${{ env.hashCommand }} --tag ${tgz_file} >> ../firebase_unity_sdk_hash.txt
          done
          echo "::warning update sha txt \n ::$(cat ../firebase_unity_sdk_hash.txt)"
        working-directory: output_tgz

      - name: Upload Build tgz
        uses: actions/upload-artifact@v2
        with:
          name: firebase_unity_sdk_tgz
          path: output_tgz

      - name: upload hash
        uses: actions/upload-artifact@v2.2.2
        with:
          name: firebase_unity_sdk_hash.txt
          path: firebase_unity_sdk_hash.txt

  trigger_integration_tests:
    # Trigger the integration_tests workflow.
    needs: [package_sdks]
    if: (inputs.runIntegrationTests != '0') && !cancelled() && !failure()
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2.3.1

    - name: Setup python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Generate token for GitHub API
      # This step is necessary because the existing GITHUB_TOKEN cannot be used inside one workflow to trigger another.
      # 
      # Instead, generate a new token here, using our GitHub App's private key and App ID (saved as Secrets).
      # 
      # This method is preferred over the "personal access token" solution, as the GitHub App's scope is limited to just
      # the firebase-cpp-sdk repository.
      uses: tibdex/github-app-token@v1
      id: generate-token
      with:
        app_id: ${{ secrets.WORKFLOW_TRIGGER_APP_ID }}
        private_key: ${{ secrets.WORKFLOW_TRIGGER_APP_PRIVATE_KEY }}
    - name: Get branch name
      id: branch-name
      uses: tj-actions/branch-names@v5.4
    - name: Use GitHub API to start workflow
      shell: bash
      run: |
        pip install -r scripts/gha/requirements.txt
        set -e
        python scripts/gha/trigger_workflow.py -t ${{ steps.generate-token.outputs.token }} \
          -b ${{ steps.branch-name.outputs.current_branch }} \
          -w integration_tests.yml \
          -p packaged_sdk_run_id ${{ github.run_id }} \
          -p platforms ${{ inputs.platforms }} \
          -p apis ${{ inputs.apis }} \
          -p test_pull_request ${{ inputs.runIntegrationTests }} \
          -s 10 -A -v
