# Workflow to handle building the Unity SDK
name: SDK Build

on:
  workflow_dispatch:
    inputs:
      # Which version of Unity to use
      unity_version:
        description: 'Unity version [2017, 2018, 2019, 2020]'
        default: '2019'
        required: true
      # Additional CMake flags to use
      additional_cmake_flags:
        description: 'Additional flags to pass into CMake'
        default: ''
        required: false
      unity_branch:
        description: 'Unity branch to build against, empty means current branch'
        default: ''
      firebase_cpp_sdk_version:
        description: 'Firebase CPP SDK version to build against (The branch, tag or SHA to checkout)'
        default: ''
        required: false

jobs:
  build_desktop:
    name: build-desktop-${{matrix.os}}-${{matrix.unity_version}}-CPP${{ github.event.inputs.firebase_cpp_sdk_version }}
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2019, macos-latest, ubuntu-latest]
        include:
        - os: macos-latest
          unity_version: ${{ github.event.inputs.unity_version }}
          build_dir: macos_unity
          unity_platform_name: macOS,iOS
        - os: windows-2019
          unity_version: ${{ github.event.inputs.unity_version }}
          build_dir: windows_unity
          unity_platform_name: Windows
        - os: ubuntu-latest
          unity_version: ${{ github.event.inputs.unity_version }}
          build_dir: linux_unity
          unity_platform_name: Linux
    env:
        # LC_ALL, LANG and U3D_PASSWORD are needed for U3D.
        LC_ALL: en_US.UTF-8
        LANG: en_US.UTF-8
        U3D_PASSWORD: ""
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          ref: ${{ github.event.inputs.unity_branch }}

      - uses: actions/checkout@v2
        with:
          repository: firebase/firebase-cpp-sdk
          path: firebase-cpp-sdk
          submodules: true
          ref: ${{ github.event.inputs.firebase_cpp_sdk_version }}

      - name: Support longpaths
        if: startsWith(matrix.os, 'windows')
        run: git config --system core.longpaths true

      # Set up the requirements, and install Unity
      # Ruby setup has to happen before python install and setup, to keep the absl config.
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0.2

      - name: Install Unity installer (U3D)
        shell: bash
        run: gem install u3d -v 1.2.3

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Add msbuild to PATH (windows)
        if: startsWith(matrix.os, 'windows')
        uses: microsoft/setup-msbuild@v1.0.2

      - name: Install prerequisites
        shell: bash
        run: |
          echo "FIREBASE_CPP_SDK_DIR=${{ github.workspace }}/firebase-cpp-sdk" >> $GITHUB_ENV
          cd firebase-cpp-sdk
          python scripts/gha/install_prereqs_desktop.py
          cd ..

      - name: Install python deps
        shell: bash
        run: |
          pip install -r scripts/gha/requirements.txt

      - name: Install OpenSSL (Windows)
        if: startsWith(matrix.os, 'windows')
        run: |
          choco install openssl -r

      - name: Install OpenSSL (Linux)
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt install openssl

      - name: Install OpenSSL (macOS)
        if: startsWith(matrix.os, 'macos')
        run: |
          brew install openssl
          # brew won't overwrite MacOS system default OpenSSL, so force it here.
          echo "OPENSSL_ROOT_DIR=$(brew --prefix openssl --installed)" >> $GITHUB_ENV

      - name: Install Unity
        shell: bash
        run: |
          python scripts/gha/unity_installer.py --install --platforms ${{ matrix.unity_platform_name }} --version ${{ matrix.unity_version }}

      - name: Setup Unity path
        shell: bash
        run: |
          echo "UNITY_ROOT_DIR=$( python scripts/gha/print_matrix_configuration.py -u ${{matrix.unity_version}} -k unity_path )" >> $GITHUB_ENV
          echo "$(swig -swiglib)" >> $GITHUB_PATH
          swig -swiglib
          echo "SWIG_DIR=$(swig -swiglib)" >> $GITHUB_ENV
      
      - name: Display Swig Version
        shell: bash
        run: |
          swig -version

      - name: Build SDK (Linux)
        if: startsWith(matrix.os, 'ubuntu')
        shell: bash
        run: |
          ./build_linux.sh ${{ github.event.inputs.additional_cmake_flags }}

      - name: Build SDK (MacOS)
        if: startsWith(matrix.os, 'macos')
        shell: bash
        run: |
          python scripts/build_scripts/build_zips.py --platform=macos --unity_root=$UNITY_ROOT_DIR --use_boringssl --architecture=x86_64 --architecture=arm64 --cmake_extras="${{ github.event.inputs.additional_cmake_flags }}"

      - name: Build SDK (Windows)
        if: startsWith(matrix.os, 'windows')
        shell: bash
        run: |
          # ./build_windows_x64.bat ${{ github.event.inputs.additional_cmake_flags }} TODO convert to python script
          mkdir ${{ matrix.build_dir }}
          pushd ${{ matrix.build_dir }}
          cmake .. -G "Visual Studio 16 2019" -A x64 -DFIREBASE_CPP_SDK_DIR="${FIREBASE_CPP_SDK_DIR}" -DUNITY_ROOT_DIR="${UNITY_ROOT_DIR}" -DSWIG_DIR="${SWIG_DIR}" -DFIREBASE_PYTHON_HOST_EXECUTABLE:FILEPATH=C:/hostedtoolcache/windows/Python/3.7.9/x64/python.exe ${{ github.event.inputs.additional_cmake_flags }}
          echo "=-=-=-=-=-=-=-=-="
          echo "Start Build"
          echo "=-=-=-=-=-=-=-=-="
          cmake --build .  --config Release
          echo "=-=-=-=-=-=-=-=-="
          echo "Start Package"
          echo "=-=-=-=-=-=-=-=-="
          cpack .
          popd

      - name: Upload Build
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.build_dir }}
          path: ${{ matrix.build_dir }}/*.zip
