# Workflow to handle packaging the Unity SDK
name: Update Versions

on:
  workflow_call:
    inputs:
      triggered_by_callable:
        description: 'Check if this package grabs artifacts from new build workflow'
        default: false
        required: true
        type: boolean
      base_branch:
        description: 'create the new branch from this base'
        default: 'main'
        type: string
        required: true
      package_version_number:
        description: "The Unity SDK version to upgrade to"
        default: 8.6.0
        type: string
        required: true
      cpp_release_version:
        description: "The CPP SDK version to update against"
        default: 9.1.0
        type: string
        required: true
    outputs:
      new_branch:
        description: "The branch update version created"
        value: ${{ jobs.update_versions.outputs.new_branch }}

  workflow_dispatch:
    inputs:
      base_branch:
        description: 'create the new branch from this base'
        default: 'main'
        required: true
      package_version_number:
        description: "The Unity SDK version to upgrade to"
        default: 9.1.0
        required: true
      cpp_release_version:
        description: "The CPP SDK version to update against"
        default: 9.1.0
        required: true

permissions: write-all

jobs:
  update_versions:
    name: update-version
    outputs:
      new_branch: ${{ steps.decide-output.outputs.new_branch }}
      cpp_release_version: ${{ steps.decide_input.outputs.cpp_release_version }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
    steps:
      - name: Decide inputs
        id: decide_input
        shell: bash
        run: |
          if [[ "${{ inputs.triggered_by_callable }}" == "true" ]]; then
            # Triggered by callable
            if [[ "${INPUTS_BASE_BRANCH}" == "" ]]; then
              echo "base_branch=${GITHUB_REF}" >> $GITHUB_OUTPUT
            else
              echo "base_branch=${INPUTS_BASE_BRANCH}" >> $GITHUB_OUTPUT
            fi
            
            echo "package_version_number=${INPUTS_PACKAGE_VERSION_NUMBER}" >> $GITHUB_OUTPUT
            echo "cpp_release_version=${INPUTS_CPP_RELEASE_VERSION}" >> $GITHUB_OUTPUT
          else
            if [[ "${GITHUB_EVENT_INPUTS_BASE_BRANCH}" == "" ]]; then
              echo "base_branch=${GITHUB_REF}" >> $GITHUB_OUTPUT
            else
              echo "base_branch=${GITHUB_EVENT_INPUTS_BASE_BRANCH}" >> $GITHUB_OUTPUT
            fi
            echo "base_branch=${GITHUB_EVENT_INPUTS_BASE_BRANCH}" >> $GITHUB_OUTPUT
            echo "package_version_number=${GITHUB_EVENT_INPUTS_PACKAGE_VERSION_NUMBER}" >> $GITHUB_OUTPUT
            echo "cpp_release_version=${GITHUB_EVENT_INPUTS_CPP_RELEASE_VERSION}" >> $GITHUB_OUTPUT
          fi
        env:
          INPUTS_BASE_BRANCH: ${{ inputs.base_branch }}
          INPUTS_PACKAGE_VERSION_NUMBER: ${{ inputs.package_version_number }}
          INPUTS_CPP_RELEASE_VERSION: ${{ inputs.cpp_release_version }}
          GITHUB_EVENT_INPUTS_BASE_BRANCH: ${{ github.event.inputs.base_branch }}
          GITHUB_EVENT_INPUTS_PACKAGE_VERSION_NUMBER: ${{ github.event.inputs.package_version_number }}
          GITHUB_EVENT_INPUTS_CPP_RELEASE_VERSION: ${{ github.event.inputs.cpp_release_version }}

      - name: Print inputs
        shell: bash
        run: |
          echo triggered_by_callable: ${{ inputs.triggered_by_callable }}
          echo base_branch: ${STEPS_DECIDE_INPUT_OUTPUTS_BASE_BRANCH}
          echo package_version_number: ${STEPS_DECIDE_INPUT_OUTPUTS_PACKAGE_VERSION_NUMBER}
          echo cpp_release_version: ${STEPS_DECIDE_INPUT_OUTPUTS_CPP_RELEASE_VERSION}
        env:
          STEPS_DECIDE_INPUT_OUTPUTS_BASE_BRANCH: ${{ steps.decide_input.outputs.base_branch }}
          STEPS_DECIDE_INPUT_OUTPUTS_PACKAGE_VERSION_NUMBER: ${{ steps.decide_input.outputs.package_version_number }}
          STEPS_DECIDE_INPUT_OUTPUTS_CPP_RELEASE_VERSION: ${{ steps.decide_input.outputs.cpp_release_version }}

      - name: Check out base branch
        uses: actions/checkout@v3
        with:
          path: firebase-unity-sdk
          fetch-depth: 0
      
      - name: Checkout CPP Repo
        uses: actions/checkout@v3
        with:
          repository: firebase/firebase-cpp-sdk
          path: firebase-cpp-sdk
          submodules: true
      
      - name: Get token for creating PR 
        uses: tibdex/github-app-token@v1
        id: generate-pr-token
        with:
          app_id: ${{ secrets.WORKFLOW_TRIGGER_APP_ID }}
          private_key: ${{ secrets.WORKFLOW_TRIGGER_APP_PRIVATE_KEY }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install python deps
        shell: bash
        run: |
          cd firebase-unity-sdk
          pip install -r scripts/gha/requirements.txt

      - name: Name new branch
        id: name-branch
        run: |
          date_str=$(date "+%Y%m%d-%H%M%S")
          new_branch=release-${STEPS_DECIDE_INPUT_OUTPUTS_PACKAGE_VERSION_NUMBER}-${date_str}
          echo "NEW_BRANCH=${new_branch}" >> $GITHUB_ENV
          echo "new_branch=${new_branch}" >> $GITHUB_OUTPUT
        env:
          STEPS_DECIDE_INPUT_OUTPUTS_PACKAGE_VERSION_NUMBER: ${{ steps.decide_input.outputs.package_version_number }}

      - name: Create new branch
        run: |
          cd firebase-unity-sdk
          git remote update
          git checkout -b "${NEW_BRANCH}"
          echo "UPDATE_LOGFILE=update_log.txt" >> $GITHUB_ENV

      - name: Update Unity SDK version and dependencies
        run: |
          cd firebase-unity-sdk
          python scripts/update_versions.py --unity_sdk_version=${STEPS_DECIDE_INPUT_OUTPUTS_PACKAGE_VERSION_NUMBER}
        env:
          STEPS_DECIDE_INPUT_OUTPUTS_PACKAGE_VERSION_NUMBER: ${{ steps.decide_input.outputs.package_version_number }}

      - name: Push branch if there are changes
        id: push-branch
        run: |
          cd firebase-unity-sdk
          if ! git update-index --refresh; then
            date_str=$(date "+%a %b %d %Y")
            commit_title="Update Unity SDK dependencies - ${date_str}"
            commit_body=
            if [[ -n '${GITHUB_EVENT_INPUTS_COMMENT}' ]]; then
              # If a comment was provided, start with that instead of blank.
              commit_body='${GITHUB_EVENT_INPUTS_COMMENT}

            '
            fi

            commit_body="${commit_body}

          > Created by [${GITHUB_WORKFLOW} workflow]($GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID)."
            git config user.email "firebase-workflow-trigger-bot@google.com"
            git config user.name "firebase-workflow-trigger-bot"
            git config core.commentChar "%"  # so we can use # in git commit messages
            git commit -a -m "${commit_title}

          ${commit_body}"
            echo "branch_pushed=1" >> $GITHUB_OUTPUT
            # Show changes in git log
            git diff
            # Push branch
            git push --set-upstream origin "${NEW_BRANCH}"
            # Create pull request
            pr_number=$(python scripts/gha/create_pull_request.py --token ${STEPS_GENERATE_PR_TOKEN_OUTPUTS_TOKEN} --head "${NEW_BRANCH}" --base "${STEPS_DECIDE_INPUT_OUTPUTS_BASE_BRANCH}" --title "${commit_title}" --body "${commit_body}")
            echo "created_pr_number=${pr_number}" >> $GITHUB_OUTPUT
          else
            echo "::warning ::No changes detected, won't create pull request."
            echo "branch_pushed=0" >> $GITHUB_OUTPUT
          fi
        env:
          GITHUB_EVENT_INPUTS_COMMENT: ${{ github.event.inputs.comment }}
          STEPS_GENERATE_PR_TOKEN_OUTPUTS_TOKEN: ${{ steps.generate-pr-token.outputs.token }}
          STEPS_DECIDE_INPUT_OUTPUTS_BASE_BRANCH: ${{ steps.decide_input.outputs.base_branch }}

      - name: Decide output
        id: decide-output
        run: |
          if [[ "${STEPS_PUSH_BRANCH_OUTPUTS_BRANCH_PUSHED}" == "1" ]]; then
            # Triggered by callable
            echo "new_branch=${STEPS_NAME_BRANCH_OUTPUTS_NEW_BRANCH}" >> $GITHUB_OUTPUT
          else
            echo "new_branch=" >> $GITHUB_OUTPUT
          fi
        env:
          STEPS_PUSH_BRANCH_OUTPUTS_BRANCH_PUSHED: ${{ steps.push-branch.outputs.branch_pushed }}
          STEPS_NAME_BRANCH_OUTPUTS_NEW_BRANCH: ${{ steps.name-branch.outputs.new_branch }}
